RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{SERVER_PORT} 443
RewriteRule ^(.*)$ HTTPS://fireservice.uk.gov.in/newfirestation/$1 [R,L]

<IfModule mod_headers.c>
	Header always set X-Frame-Options "sameorigin"
	Header set X-XSS-Protection: "1; mode=block"
	Header set X-Content-Type-Options "nosniff"
	Header set Access-Control-Allow-Origin "*"
	Header set Referrer-Policy "strict-origin-when-cross-origin"
	Header always edit Set-Cookie (.*) "$1; HTTPOnly"
</IfModule>

AddDefaultCharset UTF-8
ServerSignature Off