@font-face {
	font-family: flaticon-category;
	src: url(../fonts/flaticon-category4e9a.eot?98261468);
	src: url(../fonts/flaticon-category4e9a.eot?98261468#iefix) format('embedded-opentype'), url(../fonts/flaticon-category4e9a.woff2?98261468) format('woff2'), url(../fonts/flaticon-category4e9a.woff?98261468) format('woff'), url(../fonts/flaticon-category4e9a.ttf?98261468) format('truetype'), url(../fonts/flaticon-category4e9a.svg?98261468#flaticon-category) format('svg');
	font-weight: 400;
	font-style: normal
}

[class^=icon-]:before,
[class*=" icon-"]:before {
	font-family: flaticon-category;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-login:before {
	content: '\e800'
}

.icon-messenger:before {
	content: '\e801'
}

.icon-manager:before {
	content: '\e802'
}

.icon-money-bag:before {
	content: '\e803'
}

.icon-money:before {
	content: '\e804'
}

.icon-open-book:before {
	content: '\e805'
}

.icon-pie-chart:before {
	content: '\e806'
}

.icon-quote:before {
	content: '\e807'
}

.icon-resume:before {
	content: '\e808'
}

.icon-review:before {
	content: '\e809'
}

.icon-rocket:before {
	content: '\e80a'
}

.icon-search:before {
	content: '\e80b'
}

.icon-send:before {
	content: '\e80c'
}

.icon-star:before {
	content: '\e80d'
}

.icon-stethoscope:before {
	content: '\e80e'
}

.icon-target:before {
	content: '\e80f'
}

.icon-test:before {
	content: '\e810'
}

.icon-testimonial:before {
	content: '\e811'
}

.icon-trash:before {
	content: '\e812'
}

.icon-trophy:before {
	content: '\e813'
}

.icon-turn-off:before {
	content: '\e814'
}

.icon-bar-chart:before {
	content: '\e815'
}

.icon-briefcase:before {
	content: '\e816'
}

.icon-browser:before {
	content: '\e817'
}

.icon-check:before {
	content: '\e818'
}

.icon-circular:before {
	content: '\e819'
}

.icon-curriculum:before {
	content: '\e81a'
}

.icon-edit:before {
	content: '\e81b'
}

.icon-favourite:before {
	content: '\e81c'
}

.icon-food:before {
	content: '\e81d'
}

.icon-graphic-design:before {
	content: '\e81e'
}

.icon-home-outline:before {
	content: '\e81f'
}

.icon-letter:before {
	content: '\e820'
}